<div id="clearance" class="sign-in columns is-centered is-mobile">
  <div class="box column is-four-fifths-mobile is-half-tablet is-two-fifths-desktop">
    <h2 class="title is-4"><%= t(".title") %></h2>

    <%= render partial: '/sessions/form' %>
  </div>
</div>
