version: '3.8'
volumes:
  bundle:
  postgres-data:
  redis:
services:
  db:
    image: postgres
    volumes:
      - postgres-data:/var/lib/postgresql/data
    restart: always
    env_file:
      - db.env

  redis:
    image: 'redis:5'
    command: redis-server
    ports:
      - '6379:6379'
    volumes:
      - redis:/data

  sidekiq:
    depends_on:
      - db
      - redis
    build: .
    command: bundle exec sidekiq
    volumes:
      - bundle:/bundle
      - .:/project
      - /project/tmp # don't mount tmp directory
    env_file:
      - app.env

  webpacker:
    build: .
    command: ./bin/webpack-dev-server
    volumes:
      - bundle:/bundle
      - .:/project
    ports:
      - '3035:3035'

  web:
    build:
      context: .
      dockerfile: Dockerfile
    command: bundle exec rails s -p 3000 -b '0.0.0.0'
    volumes:
      - bundle:/bundle
      - .:/project
    ports:
      - '3000:3000'
    links:
      - db
      - webpacker
    depends_on:
      - db
      - redis
    env_file:
      - app.env
