<div class="box" id="user-edit">
  <h2 class="title is-size-2">Account Details</h2>
  <hr>
  <div class="columns is-variable is-5">
    <div class="column is-one-third">
      <%= render 'edit_form' %>
    </div>
    <div class="column is-one-third">
      <%= render 'memberships_table' %>
    </div>
    <div class="column is-one-third">
      <%= render 'user_stats' %>
    </div>
  </div>
</div>
