<div id="clearance" class="sign-in columns is-centered is-mobile">
  <div class="box column is-10-mobile is-8-tablet is-8-desktop is-6-widescreen">
    <h2 class="title is-4"><%= t(".title") %></h2>

    <%= render partial: '/users/form' %>
  </div>
</div>
