<section class="hero">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        Hello <%= current_user.name.familiar %>!
      </h1>
      <h2 class="subtitle">
        <%= link_to 'Posts', crew_user_posts_path(@crew, current_user) %>
      </h2>
    </div>
  </div>
</section>
