<section class="hero">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        AdventBeer.com
      </h1>
      <h2 class="subtitle">
        Beer, meet the Holidays
      </h2>
    </div>
  </div>
</section>
