<div id="welcome">
  <section class="hero ">
    <div class="hero-body">
      <div class="container animate-fade-in">
        <h1 id="beer-text" class="title highlight-text animate-pop-in">Beer,</h1>
        <h1 id="middle-text" class="title animate-pop-in">meet the</h1>
        <h1 id="holiday-text" class="title highlight-text animate-pop-in">Holidays</h1>
      </div>
    </div>
  </section>
</div>
