<div id="clearance" class="password-reset columns is-centered is-mobile">
  <div class="box column is-four-fifths-mobile is-half-tablet is-two-fifths-desktop">
    <p><%= t(".description") %></p>
  </div>
</div>
