//@import url('https://fonts.googleapis.com/css2?family=Sen:wght@400;700&display=swap');

// AdventBeer.com brand colors
$white: #FFFFFF;
$mercury: #E5E5E5;
$lightning-yellow: #FCC212;
$big-stone: #14213D;
$eerie-black: #242423;

$danger-red: #f44336;
$success-green: #81b53d;
$warning-orange: #fea505;
$info-blue: #242423;
$box-shadow-grey: #dedede;
$diminished-grey: #b5b5b5;

// Update Bulma's global variables
//$family-sans-serif: 'Sen', sans-serif;
$primary: $lightning-yellow;
$grey-dark: $eerie-black; // also text color
$link: $lightning-yellow;
$info: $big-stone;
$success: $success-green;
$warning: $warning-orange;
$danger: $danger-red;
$body-background-color: $mercury;

$header-and-foot-height: 274px;

@mixin white-card-with-shadow {
  padding: 2em;
  background: white;
  box-shadow: 3px 3px 1em $box-shadow-grey;
  border-radius: 6px;
}

a {
  transition: color .2s ease;
}

.button {
  transition: background-color .2s ease;
}

a.button.is-text {
  color: $diminished-grey;
  text-decoration: none;
}

#main-container {
  min-height: calc(100vh - #{$header-and-foot-height});
  margin-top: 1em;
  margin-bottom: 2em;
}

::placeholder {
  color: $diminished-grey !important;
}

trix-editor {
  box-shadow: inset 0 0.0625em 0.125em rgba(10, 10, 10, 0.05);
  background-color: $white;
  border-color: #dbdbdb;
  border-radius: 4px;
  color: #363636;

  &:hover {
    border-color: $diminished-grey;
  }

  &:focus {
    border-color: $lightning-yellow;
    box-shadow: 0 0 0 0.125em rgba(252, 194, 18, 0.25);
  }
}
