@import url('https://fonts.googleapis.com/css2?family=Patua+One&family=Nunito:wght@400;700&display=swap');

// AdventBeer.com brand colors
$white: #FFFFFF;
$mercury: #E5E5E5;
$lightning-yellow: #FCC212;
$big-stone: #14213D;
$eerie-black: #242423;

$danger-red: #f44336;
$success-green: #81b53d;
$warning-orange: #fea505;
$info-blue: #242423;
$box-shadow-grey: #dedede;
$diminished-grey: #b5b5b5;

// Update Bulma's global variables
$family-sans-serif: 'Nunito', sans-serif;
$primary: $lightning-yellow;
$grey-dark: $eerie-black; // also text color
$link: $big-stone;
$info: $big-stone;
$success: $success-green;
$warning: $warning-orange;
$danger: $danger-red;
$navbar-background-color: $eerie-black;
$body-background-color: $mercury;

$header-and-footer-height: 140px;

.navbar-brand, .post-title, #post_title, .panel-heading,
#index-heading, .index-subheading, #swal2-title, h2 {
  font-family: 'Patua One', serif;
}

.navbar.is-fixed-top {
  border-bottom: 2px solid $lightning-yellow;
}

.fa-plus { font-size: 0.6em }

a {
  transition: color .2s ease;
  transition: text-decoration .2s ease;
}

.button {
  transition: background-color .2s ease;
}

a.button.is-text {
  color: $diminished-grey;
  text-decoration: none;
}

#main-container {
  min-height: calc(100vh - #{$header-and-footer-height});
  margin-top: 2em;
  padding: 1.5rem;
}

::placeholder {
  color: $diminished-grey !important;
}

hr { background-color: $lightning-yellow !important; }

trix-editor {
  box-shadow: inset 0 0.0625em 0.125em rgba(10, 10, 10, 0.05);
  background-color: $white;
  border-color: #dbdbdb;
  border-radius: 4px;
  color: #363636;
  min-height: 50vh;

  &:hover {
    border-color: $diminished-grey;
  }

  &:focus {
    border-color: $lightning-yellow;
    box-shadow: 0 0 0 0.125em rgba(252, 194, 18, 0.25);
  }
}

footer.footer {
  background-color: $eerie-black;
  padding: 1rem 1.5rem;
  color: $white;
  strong { color: $lightning-yellow; }
  a {
    color: $white;
    text-decoration: underline solid transparent;

    &:hover {
      text-decoration: underline solid $lightning-yellow ;
    }
  }
}
