#advent-beer-navbar {
  @import '~bulma/sass/utilities/initial-variables';
  @import '~bulma/sass/utilities/derived-variables';
  @import '~bulma/sass/utilities/mixins';

  .navbar-item {
    padding: .25rem .75rem;
  }

  #navbar-logo {
    color: $mercury;
    border: 3px solid $eerie-black;
    transition: border .3s ease;
    padding: 0 .25em;

    &:hover {
      border: 3px solid $lightning-yellow;
    }
  }

  .navbar-burger {
    color: $lightning-yellow;
    margin-right: 1em;
    margin-top: 5px;

    span { height: 2px; }
  }

  .navbar-end {
    @include touch {
      text-align: center;
    }

    .navbar-item:not(.has-dropdown) {
      @include touch {
        display: inline-block;
      }
    }

    .navbar-item.has-dropdown.is-hoverable .navbar-link {
      padding-right: 0.75rem;
      color: $mercury;
      background-color: $eerie-black !important;
      text-decoration: underline $eerie-black;
      transition: text-decoration .2s ease;

      &:hover {
        text-decoration: underline solid 2px $lightning-yellow;;
      }
    }
  }
}

