#user-posts-index {
  #index-heading { color: $white; }
  .index-subheading {
	color: $mercury;
  }

  .posts-container {
	.post-title {
	  min-height: 3em;
	  a {
		text-decoration: underline solid transparent;
		&:hover {
		  text-decoration: underline solid $lightning-yellow ;
		}
	  }
	}

	.box {
	  min-height: 9em;
	  .byline { color: $diminished-grey; }
	  .level { margin-top: 1em; }
	}
  }
}

#user-posts-new, #user-posts-edit {
  @import '~bulma/sass/utilities/initial-variables';
  @import '~bulma/sass/utilities/derived-variables';
  @import "~bulma/sass/utilities/mixins";

  @include fullhd {
	margin: 0 10em;
	padding: 3em 8em;
  }
  @include widescreen-only {
	margin: 0 6em;
	padding: 3em 8em;
  }
  @include desktop-only {
	margin: 0 4em;
	padding: 3em 4em;
  }
  @include tablet-only {
	margin: 0 6em;
	padding: 3em 4em;
  }
  @include mobile {
	margin: 0;
	padding: 3em 3em;
  }

  #unsplash-results {
	margin: 1em 0 2em;
  }

  // TODO: Hides attach file button until implementing ActiveStorage
  .trix-button-group--file-tools {
	display: none;
  }
}

#user-posts-show {
  @import '~bulma/sass/utilities/initial-variables';
  @import '~bulma/sass/utilities/derived-variables';
  @import "~bulma/sass/utilities/mixins";

  @include fullhd {
	margin: 0 10em;
	padding: 3em 8em;
  }
  @include widescreen-only {
	margin: 0 6em;
	padding: 3em 8em;
  }
  @include desktop-only {
	margin: 0 4em;
	padding: 3em 6em;
  }
  @include tablet-only {
	margin: 0 6em;
	padding: 3em 4em;
  }
  @include mobile {
	margin: 0;
	padding: 2em 1.5em;
  }

  height: 100%;

  #byline {
	color: $diminished-grey;
  }

  .panel {
	.panel-heading {
	  &:hover {
		text-decoration: underline;
		cursor: pointer;
	  }
	}
	#post-comments {
	  display: none;
	  .level { margin-bottom: 0.5em; }
	}
  }

  #add-comment-button {
	color: #b5b5b5;
	text-decoration: none;

	.fa-plus { margin-right: .5em; }

	&:hover {
	  color: #363636;
	}
  }

  #create-comment-form {
	margin-top: 1em;
	display: none;
  }
}
