#user-posts-index {
  #index-heading { color: $white; }

  #posts-container {
	margin-top: 1em;

	.post-title a {
	  text-decoration: underline solid transparent;

	  &:hover {
		text-decoration: underline solid $lightning-yellow ;
	  }
	}

	.box {
	  min-height: 18em;

	  .date-posted {
		color: $diminished-grey;
	  }
	}
  }
}

#user-posts-new, #user-posts-edit {
  margin: 0 10em;
  padding: 3em 8em;

  #unsplash-results {
	margin: 1em 0 2em;
  }
}

#user-posts-show {
  //@include white-card-with-shadow;

  margin: 0 10em;
  padding: 3em 8em;
  height: 100%;

  #byline {
	color: $diminished-grey;
  }
}
