<% if @post.comments.present? %>
  <nav class="panel">
    <p class="panel-heading">
      <%= comment_heading_text(num_of_comments: @post.comments.size) %>
    </p>
    <div id="post-comments">
      <% @post.comments.each do |comment| %>
        <%= render 'comments/comment', comment: comment %>
      <% end %>
    </div>
  </nav>
<% end %>

<button class="button is-text" id="add-comment-button">
  <i class="fas fa-plus"></i>
  Comment
</button>

<%= render 'comments/form' %>
