<%= form_with url: search_unsplash_images_path do |f| %>
  <div class="field has-addons">
    <div class="control">
      <%= f.text_field :search_term,
                       placeholder: 'Background image',
                       class: 'input' %>
      <%= f.hidden_field :orientation, value: 'landscape' %>
    </div>
    <div class="control">
      <%= f.submit 'Search', class: 'button is-link' %>
    </div>
  </div>
<% end %>

<div id="unsplash-results"><div class="columns is-multiline"></div></div>
