<div id="user-posts-index">
  <h2 class="is-size-2" id="index-heading"><%= index_title_text(is_poster: current_user.poster?,
                                                                crew_name: @crew.name) %></h2>

  <% if current_user.poster? %>
    <h4 class="is-size-4 index-subheading">Live</h4>
  <% end %>
  <%= render 'posts_section', posts: @live_posts %>

  <% if @in_progress_posts.present? %>
    <hr>
    <h4 class="is-size-4 index-subheading">In-Progress</h4>
    <%= render 'posts_section', posts: @in_progress_posts %>
  <% end %>

  <% if @other_posts.present? %>
    <hr>
    <h4 class="is-size-4 index-subheading">Other Users Posts</h4>
    <%= render 'posts_section', posts: @other_posts %>
  <% end %>
</div>
