<div class="column is-one-third">
  <div class="unsplash-image-container">
    <img class="unsplash-background-image" src=<%= result.urls.regular %>>
  </div>
  <%= button_tag 'Select', class: 'button select-background-image-button' %>
</div>
