imagesContainer = $('#unsplash-results .columns.is-multiline')
imagesContainer.empty()
$("input[name='post[background_image_attributes][image_url]']").val('')

<% unless @results.empty? %>
  <% @results.each do |result| %>
    imagesContainer.append('<%= j(render 'image_fields', result: result) %>')
  <% end %>
<% else %>
  imagesContainer.append('<div class="column is-full">No photos found, please try a different search term</div>')
<% end %>


