<footer class="footer">
  <div class="content has-text-centered">
    <p>
      <strong>AdventBeer.com</strong> by <a target="_blank" href="https://www.amyers.io">amyers.io</a>
      <%= footer_credit_links(post: @post) %>
    </p>
  </div>
</footer>
